.about {
    background-color: rgb(117, 99, 232);
    color: white;
    text-align: center;
    padding-top: 3em;
    height: 100vh;
}

.about-title {
    font-weight: bold;
}

.about-content {
    padding: 3em;
}

.about-info {
    text-align: left;
}

.resume-button {
    color: white;
    border: 2px solid white;
    border-radius: 0px;
    padding: 5px 15px;
    display: inline-block;
    font-size: 1em;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 white;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    font-weight: bold;
    text-align: center;
}

.resume-button:hover {
    box-shadow: inset 400px 0 0 0 white;
    color: rgb(117, 99, 232);
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    .about {
        height: 100%;
    }
    .about-info {
      text-align: center;
      padding-top: 2em;
    }
    .about-title {
        font-size: 2em;
    }
    .about-content {
        padding-top: 2em;
        padding-left: 0;
        padding-right: 0;
    }
  }

  @media only screen and (min-width: 1350px) {
    .about-title {
        font-size: 3em;
        padding-bottom: 1em;
    }
    .about-content {
        padding: 1em;
        font-size: 1.3em;
    }
    .me {
        width: 100%;
    }
  }