.contact {
    background-color: rgb(117, 99, 232);
    color: white;
    padding-top: 3em;
    height: 50vh;
    text-align: center;
}

.contact-title {
    font-weight: bold;
    padding-bottom: 1em;
}

.contact-button {
    color: white;
    border: 2px solid white;
    border-radius: 0px;
    padding: 5px 15px;
    display: inline-block;
    font-size: 1.4em;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 white;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    font-weight: bold;
    text-decoration: none;
}

.contact-button:hover {
    box-shadow: inset 400px 0 0 0 white;
    color: rgb(117, 99, 232);
    text-decoration: none;
}

.cta {
    padding-bottom: 1em;
    line-height: 1.5em;
}

@media only screen and (max-width: 700px) {
    .contact {
        height: 100%;
    }
    .contact-title {
        font-size: 2em;
    }
    .cta {
        font-size: 1.5em;
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media only screen and (min-width: 1350px) {
    .contact-title {
        font-size: 3em;
        padding-bottom: 1em;
    }
    .contact-button {
        font-size: 2em;
    }
    .cta {
        font-size: 2.2em;
        padding-bottom: 1.5em;
    }
  }