.hero {
    padding-top: 17%;
    height: 100vh;
}

.title {
    font-size: 3.5em;
    font-weight: bold;
    line-height: 1.5em;
}

.name {
    color: rgb(117, 99, 232);
}

.button {
    color: rgb(117, 99, 232);
    border: 2px solid rgb(117, 99, 232);
    border-radius: 0px;
    padding: 0 15px;
    display: inline-block;
    font-size: 1.5em;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(117, 99, 232);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    font-weight: bold;
}

.button:hover {
    box-shadow: inset 400px 0 0 0 rgb(117, 99, 232);
    color: white;
}

@media only screen and (max-width: 600px) {
    .title {
      font-size: 2.2em;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 3em;
      text-align: center;
    }
    .hero {
        text-align: center;
    }
    .button {
        font-size: 1.4em;
    }
  }

@media only screen and (min-width: 1350px) {
.title {
    font-size: 4.2em;
}
.button {
    font-size: 2.4em;
}
}